* {
    text-align: center;
    font-family: sans-serif;
    color: white;
    /*box-sizing: border-box;*/
    background-color: hsl(100, 0%, 20%);
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    flex: 0 50px;
    background: hsl(100, 0%, 20%);
  }

  nav {
    flex: 0 50px;
    font-size: 20px;
    background: hsl(100, 0%, 20%);
    color: white;
  
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  
  footer {
    flex: 0 30px;
    background: hsl(100, 0%, 20%);
  }
  
  main {
    flex: 1;
    display: block;
  }

  li {
    list-style-type: none;
    display: inline;
  }

  div {
    flex: 1;
    font-size: 30px;
  
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;
}

input {
    resize: horizontal;
    width: auto;
    height: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

#name {
    font-size: 30px;
}
  
  section h2 {
    color: black;
  }
  
  section:nth-child(1) {
    flex: 1;
    background-color: hsl(100, 0%, 20%);
  }
  section:nth-child(2) {
    flex: 3;
    background-color: white;
  }
  
  @media (orientation: portrait) {
    main {
      flex-direction: column;
    }
  }
  
  @media (max-height: 700px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
  }
  

h1 {
    text-align: center;
    font-size: 80px;
   }

   #game-board {
     display: flex;
     align-items: center;
     flex-direction: column;
   }
   
   .letter-box {
     border: 2px solid gray;
     border-radius: 3px;
     margin: 2px;
     font-size: 2.5rem;
     font-weight: 700;
     height: 3rem;
     width: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
   }
   
   .filled-box {
     border: 2px solid black;
   }
   
   .letter-row {
     display: flex;
   }
   
   #keyboard-cont {
     margin: 1rem 0;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   #keyboard-cont div {
     display: flex;
   }
   
   .second-row {
     margin: 0.5rem 0;
   }
   
   .keyboard-button {
     font-size: 1rem;
     font-weight: 700;
     padding: 0.5rem;
     margin: 0 2px;
     cursor: pointer;
     text-transform: uppercase;
   }
   

h2 {
    font-size: 50px;
}